:{$PORT:8080} {
	root * /srv
	encode gzip zstd
	file_server

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Frame-Options "DENY"
		Permissions-Policy "interest-cohort=()"
	}

	log {
		output stdout
		format console
	}
}
